body{
    background: url(../images/img.jpg)no-repeat center center fixed;
}
#container{
    width: 80%;
    min-height: 500px;
    background: gray;
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}
header h1{
    text-align: center;
    font-size: 60px;
    margin: 20px 15px;
    padding: 20px 20px;
    border-bottom: 1px dashed wheat;
}
#game button{
    position: relative;
     background: blue;
     color: #fff;
     text-align: center;
     width: 300px;
     height: 80px;
     font-size: 30px;
     display: block;
     margin:100px auto;
}
#question{
    position: relative;
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    display: none;
}
#question button{
    background: blue;
    color: wheat;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 35px;
}
#gam{

    background: green;
    font-size: 23px;
    width: 300px;
    margin: 25px auto;
    text-align: center;
    padding: 10px ;
}
#end{
    position: relative;
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    display: none;
} 
#end button{
    background: blue;
    color: wheat;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 35px;
}
